body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 241, 237); 
    font-family: "GDS Transport",arial,sans-serif;
}
header {
    background-image: url('../images/bgno.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 180px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }
  
.logo{
    width: 130px; 
    height: 130px;
    border-radius: 90%; 
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
}
h1{
    padding: 0px;
    color: rgb(41, 39, 39);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.links {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    width: auto;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 5px;
    border: none; 
    padding: 10px;
}

li,a{
    text-decoration: none;
    color: rgb(183, 80, 183);
    font-weight: bolder;
    padding-bottom: 20px;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a:active {
    padding: 3px;
    background-color:yellow; 
  }
.horizontal{
  border: none; 
  background-color: rgb(27, 96, 96);
  height: 10px;
}

.foo{
    background-color: rgb(212, 212, 212);
    padding-bottom: 10px;
    margin: 0px;
}
.validate{
    float: right;
}