
body{
    margin: 0px;
    padding: 0px;
    font-family: "GDS Transport",arial,sans-serif;
}

header{
    background-image: url(../images/slider.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 180px;
    padding: 15px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
    opacity: 0.9;
}
.headTitle{
    padding-bottom: 50px;
    font-family:'Courier New', Courier, monospace;
}
.first::first-letter{
    font-size: 40px;
    color: black;
}
main{
    padding: 20px;
}
.name{
    color: rgb(69, 13, 13);
    font-weight: bolder;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
}
.ImageSize {
    width: 80%; 
    height: 90%;
    display: inline-block;
    opacity: .8;
}
.ImageSize:hover {
    transform: scale(1.07); 
}
.ImageSize1 {
    width: 95%; 
    height: 90%;
    display: inline-block;
    opacity: .8;
}
.ImageSize1:hover {
    transform: scale(1.07); 
}
figcaption {
    text-align: center;
    margin-top: 5px; 
}
.img-section{
    display: flex;
}
.horizontal{
    border: none; 
    background-color: rgb(27, 96, 96);
    height: 10px;
  }
.foo{
    background-color: #f3f2f1;
    padding-bottom: 10px;
    margin: 0px;
}
.valid{
    display: inline;
    float: right;
}